<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--/* Bootstrap CSS */-->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>

    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<footer class="text-dark text-decoration-none mt-lg-4">
    <hr>
    <div class="row">
        <div class="col-md-4">
            <ul class="list-unstyled">
                <li><a th:href="@{/}" class="text-dark">Strona główna</a></li>
                <li><a th:href="@{/}" class="text-dark">Kategorie</a></li>
                <li><a th:href="@{/announcement/all}" class="text-dark">Tablica z ogłoszeniami</a></li>
                <li><a th:href="@{/announcement/add-new}" class="text-dark">Stwórz ogłoszenie</a></li>
            </ul>
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <p><img th:src="@{/img/illbeback.png}" alt="I'll Be Back logo" width="175px"/><br>
                <a href="https://infoshareacademy.com/">
                    <img th:src="@{/img/isalogo.svg}" alt="infoShareAcademy logo"/>
                </a></p>
        </div>
    </div>
</footer>
</body>
</html>