<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<footer class="text-dark text-decoration-none">
  <div class="row">
  <div class="col-md-4">
  <ul class="list-unstyled">
    <li><a>Lorem ipsum</a></li>
    <li><a>Lorem ipsum</a></li>
    <li><a>Lorem ipsum</a></li>
    <li><a>Lorem ipsum</a></li>
    <li><a>Lorem ipsum</a></li>
    <li><a>Lorem ipsum</a></li>
  </ul>
  </div>
  <div class="col-md-4">
    <ul class="list-unstyled">
      <li><a>Lorem ipsum</a></li>
      <li><a>Lorem ipsum</a></li>
      <li><a>Lorem ipsum</a></li>
      <li><a>Lorem ipsum</a></li>
      <li><a>Lorem ipsum</a></li>
      <li><a>Lorem ipsum</a></li>
    </ul>
  </div>
  <div class="col-md-4">
    Get it on steam
  </div>
  </div>
</footer>
</body>
</html>