<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--/* Bootstrap CSS */-->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>

    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <title></title>
</head>
<body>
<nav class="navbar-expand-lg navbar-light bg-light navbar-custom mb-lg-2">

    <a th:href="@{/}"><img th:src="@{/img/logo.png}" width="100%" height="45px" alt="Work And Fun logo"/></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">

        <form class="form-inline justify-content-center ml-md-4" th:action="@{/announcement/search}" th:method="get">
            <input th:name="param" class="form-control mr-sm-2" type="search">
            <button class="btn btn-primary my-2 my-sm-0" type="submit" th:text="#{announcement.search}">
                Szukaj
            </button>
        </form>

        <ul class="navbar-nav ml-md-auto">
            <li class="nav-item active mr-sm-2 text-light" sec:authorize="isAuthenticated()">
                <a class="nav-link font-weight-bold btn btn-mint" th:href="@{/announcement/add-new}">
                    Stwórz ogłoszenie <span class="sr-only">(current)
                            </span>
                </a>
            </li>
            <li class="nav-item active mr-sm-2 text-light" sec:authorize="!isAuthenticated()">
                <a class="nav-link font-weight-bold btn-mint btn" th:href="@{/sign-in}">
                    Zaloguj się <span class="sr-only">(current)
                            </span>
                </a>
            </li>
            <li class="nav-item active" sec:authorize="!isAuthenticated()" >
                <a class="nav-link font-weight-bold btn-teal btn" th:href="@{/sign-up}">
                    Zarejestruj się <span class="sr-only">(current)
                            </span>
                </a>
            </li>
            <li class="nav-item active" sec:authorize="isAuthenticated()" >
                <a class="nav-link font-weight-bold btn-teal btn" th:href="@{/sign-out}">
                    Wyloguj się <span class="sr-only">(current)
                            </span>
                </a>
            </li>
            <li th:class="'nav-item dropdown'" sec:authorize="isAuthenticated()">
                <a  th:class="'nav-link dropdown-toggle home-icon'"
                    data-toggle="dropdown" role="button" th:href="@{/}">
                    <img th:src="@{/img/icons/user.png}" th:alt="'Home'" th:width="25px" th:height="25px"/>
                </a>
                <div th:class="'dropdown-menu'">
                    <a th:class="'dropdown-item'" th:href="@{/announcement/my-announcements}" th:text="#{user.own.announcement}"></a>
                </div>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>