
.form-group {
    margin-bottom: 7px;
    margin-top: 7px;
}

.announcement-left-side-date-and-location {
    margin-bottom: 5px;
    font-size: small;
}

.announcement-left-side-header {
    height: 190px
}

.price {
    margin-bottom: 0;
}

.announcement-right-side {
    font-size: large;
}