<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--/* Bootstrap CSS */-->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>

    <link th:href="@{/css/style.css}" rel="stylesheet"/>

    <title>Wszystkie ogłoszenia</title>
</head>


<body class="bg-light p-3">
<div class="container">
    <div class="row">
        <div class="announcement-frame d-block bg-white form-group col-12" th:each="announcement, stat : ${announcements}">
            <div class="row">

                <div class="big-left-side col-8 col-md-10">
                    <div class="announcement-left-side-header p-3 col-8 col-md-10">
                        <h4 class="announcement-header" th:text="${announcement.getHeader()}"></h4>
                    </div>
                    <div class="col-12">
                        <p class="announcement-left-side-date-and-location"
                           th:text="${announcement.getFullLocalization() + ' - ' + announcement.announcementCreationDateFormatted()}"></p>
                    </div>
                </div>

                <div class="announcement-right-side p-3 text-center my-auto col-4 col-md-2">
                    <div th:if="${announcement.isIndividualPrice()}">
                        <p class="price">
                            <img th:src="@{/img/price.png}" width="100%" alt="image"/>
                        </p>
                    </div>
                    <div th:unless="${announcement.isIndividualPrice()}">
                        <p class="price">
                            <b th:text="${announcement.getPrice() + ' zł'}"></b>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<script th:src="@{/js/jquery-3.3.1.slim.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>

</html>