<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--/* Bootstrap CSS */-->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>

    <link th:href="@{/css/style.css}" rel="stylesheet"/>

    <title>Szczegóły ogłoszenia</title>
</head>

<body class="bg-light p-3">
<div class="flex">
    <div class="container-lg">
        <div class="row mb-1">
            <div class="col-md-12" th:insert="~{fragments/navbar :: nav}">
            </div>
        </div>
        <div class="row">
            <div class="m-2 flex-lg-column bg-default">

                <h1 class="m-3"><I>Szczegóły ogłoszenia dotyczące:</I></h1>
                <h3 class="m-2" th:text="${allDetails.getHeader()}"></h3>

                numer ogłoszenia:
                <p class="m-2" th:text="${allDetails.getId()}"></p>

                data:
                <p class="m-2" th:text="${allDetails.getDate()}"></p>

                opis:
                <p  class="m-2" th:text="${allDetails.getDescription()}"></p>


                cena:
                <p class="m-2" th:text="${allDetails.getPrice()}"></p>

                dodatkowy komentarz do ceny:
                <p class="m-2" th:text="${allDetails.getPriceAdditionComment()}"></p>

                typ usługi:
                <p class="m-2" th:text="${allDetails.getServiceType()}"></p>

                typ:
                <p class="m-2" th:text="${allDetails.getType()}"></p>

                jednostki:
                <p class="m-2" th:text="${allDetails.getUnit()}"></p>


                czy cena do negocjacji:
                <p class="m-2" th:text="${allDetails.getIsPriceNegotiable()}"></p>

            </div>
            <div class="m-2 flex-lg-column bg-default">

                <h1 class="m-3"><I>Dane kontaktowe:</I> </h1>

                <h2 class="m-2" th:text="${allDetails.getCity()}"></h2>
                <h4 class="m-2" th:text="${allDetails.getVoivodeship()}"></h4>
                <p class="m-2" th:text="${allDetails.getCityDistrict()}"></p>

                imię:
                <h4 class="m-2" th:text="${allDetails.getNameOfAdvertiser()}"></h4>
                nr telefonu:
                <p class="m-2" th:text="${allDetails.getPhoneNumber()}"></p>
                e-mail:
                <p class="m-2" th:text="${allDetails.getEmail()}"></p>






            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" th:insert="~{fragments/footer :: footer}">
        </div>
    </div>
</div>
<script th:src="@{/js/jquery-3.3.1.slim.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>

</html>