<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{announcement.title}"></title>
    <link th:href="@{/css/form.css}" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--/* Bootstrap CSS */-->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>

</head>
<body class="bg-light p-3">
<div class="container-lg">
    <div class="row mb-1">
        <div class="col-md-12" th:insert="~{fragments/navbar :: nav}">
        </div>
    </div>
    <nav>
    </nav>
    <h1 class="white-text-shadow" th:text="#{announcement.headline}"></h1>
    <div>
        <form th:object="${announcement}" th:action="@{/announcement/add-new}" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <label th:for="type_input_id" th:text="#{announcement.type}"></label>
            <br>
            <select class="custom-select" id="type_input_id" th:field="*{type}">
                <option th:each="typeOpt : ${T(pl.infoshare.workandfun.announcements.announcement_repo.entity.additionals.Type).values()}"
                        th:value="${typeOpt}" th:text="${typeOpt.value}"></option>
            </select>
            <br>
            <br>
            <label th:for="header_input_id"></label>
            <div class="wrap-input1 validate-input">
                <input class="input1" type="text" placeholder="Nagłówek" id="header_input_id" th:field="*{header}">
            </div>
            <div th:if="${#fields.hasErrors('header')}" th:class="'myalert'">
                <p th:each="err : ${#fields.errors('header')}" th:text="${err}"></p>

            </div>
            <br>
            <label th:for="serviceType_input_id" th:text="#{announcement.type.service}"></label>
            <br>
            <select class="custom-select" id="serviceType_input_id" th:field="*{serviceType}">
                <option th:each="serviceTypeOpt : ${T(pl.infoshare.workandfun.announcements.announcement_repo.entity.additionals.ServiceType).values()}"
                        th:value="${serviceTypeOpt}" th:text="${serviceTypeOpt.serviceTypeName}"></option>
            </select>
            <br>
            <label th:for="city_input_id"></label>
            <br>
            <div class="wrap-input1 validate-input">
                <input class="input1" type="text" id="city_input_id" placeholder="Miasto" th:field="*{city}">
            </div>
            <div th:if="${#fields.hasErrors('city')}" th:class="'myalert'">
                <p th:each="err : ${#fields.errors('city')}" th:text="${err}"></p>
            </div>
            <label th:for="cityDistrict_input_id"></label>
            <br>
            <input type="text" class="input1" id="cityDistrict_input_id" th:field="*{cityDistrict}"
                   placeholder="Dzielnica">
            <br>
            <div th:if="${#fields.hasErrors('cityDistrict')}" th:class="'myalert'">
                <ul>
                    <li th:each="err : ${#fields.errors('cityDistrict')}" th:text="${err}"></li>
                </ul>
            </div>
            <label th:for="unit_input_id"></label>
            <br>
            <div class="wrap-input1 validate-input">
                <input type="text" class="input1" id="unit_input_id" th:field="*{unit}" placeholder="Osiedle">
            </div>
            <div th:if="${#fields.hasErrors('unit')}" th:class="'myalert'">
                <ul>
                    <li th:each="err : ${#fields.errors('unit')}" th:text="${err}"></li>
                </ul>
            </div>
            <label th:for="price_input_id"></label>
            <br>
            <div class="wrap-input1 validate-input">
                <input type="text" class="input1" id="price_input_id" value="do ustalenia indywidualnie'"
                       placeholder="Cena lub 'do ustalenia indywidualnie" th:field="*{price}">
            </div>
            <div th:if="${#fields.hasErrors('price')}" th:class="'myalert'">
                <p th:each="err : ${#fields.errors('price')}" th:text="${err}"></p>
            </div>
            <label th:for="isPriceNegotiable_input_id" th:text="#{announcement.isPriceNegotiable}"></label>
            <input type="checkbox" class="custom-checkbox" id="isPriceNegotiable_input_id"
                   th:field="*{isPriceNegotiable}">
            <br>
            <br>
            <label th:for="voivodeship_input_id" th:text="#{announcement.voivodeship}"></label>
            <br>
            <select class="custom-select" id="voivodeship_input_id" th:field="*{voivodeship}">
                <option th:each="voivodeshipOpt : ${T(pl.infoshare.workandfun.announcements.announcement_repo.entity.additionals.Voivodeship).values()}"
                        th:value="${voivodeshipOpt}" th:text="${voivodeshipOpt.voivodeshipName}"></option>
            </select>
            <br>
            <label th:for="nameOfAdvertiser_input_id"></label>
            <br>
            <div class="wrap-input1 validate-input">
                <input type="text" class="input1" id="nameOfAdvertiser_input_id" placeholder="Imię"
                       th:field="*{nameOfAdvertiser}">
            </div>
            <div th:if="${#fields.hasErrors('nameOfAdvertiser')}" th:class="'myalert'">
                <p th:each="err : ${#fields.errors('nameOfAdvertiser')}" th:text="${err}"></p>
            </div>
            <label th:for="email_input_id"></label>
            <br>
            <div class="wrap-input1 validate-input">
                <input type="text" id="email_input_id" class="input1" placeholder="Email" th:field="*{email}">
            </div>
            <div th:if="${#fields.hasErrors('email')}" th:class="'myalert'">
                <p th:each="err : ${#fields.errors('email')}" th:text="${err}"></p>
            </div>
            <label th:for="phoneNumber_input_id"></label>
            <br>
            <div class="wrap-input1 validate-input">
                <input type="text" id="phoneNumber_input_id" class="input1" placeholder="Numer telefonu"
                       th:field="*{phoneNumber}">
            </div>
            <div th:if="${#fields.hasErrors('phoneNumber')}" th:class="'myalert'">
                <p th:each="err : ${#fields.errors('phoneNumber')}" th:text="${err}"></p>
            </div>
            <label th:for="description_input_id"></label>
            <br>
            <div class="wrap-input1 validate-input">
                <textarea class="input1" type="text" placeholder="Opis" id="description_input_id"
                          th:field="*{description}"></textarea>
            </div>
            <div th:class="'myalert'" th:if="${#fields.hasErrors('description')}">
                <p th:each="err : ${#fields.errors('description')}" th:text="${err}"></p>
            </div>
            <label th:for="priceAdditionComment_input_id"></label>
            <br>
            <div class="wrap-input1 validate-input">
                <input type="text" class="input1" placeholder="Komenatrz odnośnie ceny"
                       id="priceAdditionComment_input_id" th:field="*{priceAdditionComment}">
            </div>
            <br>
            <div th:if="${#fields.hasErrors('priceAdditionComment')}" th:class="'myalert'">
                <p th:each="err : ${#fields.errors('priceAdditionComment')}" th:text="${err}"></p>
            </div>
            <button type="submit" th:text="#{announcement.create}" class="btn btn-primary my-2 my-sm-0"></button>
        </form>

        <div class="row">
            <div class="col-lg-12" th:insert="~{fragments/footer :: footer}">
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/jquery-3.3.1.slim.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
