<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--/* Bootstrap CSS */-->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>

    <link th:href="@{/css/style.css}" rel="stylesheet"/>

    <title>Wszystkie ogłoszenia</title>

</head>


<body class="bg-light p-3">

<div class="container-lg">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">

                <a class="navbar-brand" href="#">Work And Fun</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">


                    <ul class="navbar-nav ml-md-auto">
                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{/announcement-form}">Stwórz ogłoszenie <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link btn btn-primary" href="#">Zaloguj <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link btn btn-info" href="#">Zarejestruj <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="col-md-12">
            <div class="jumbotron text-center">
                <h2>
                    Zamawianie usług online
                </h2>
                <p>
                    Ponad 100 000 sprawdzonych profesjonalistów do wykonywania zadań domowych lub biznesowych
                </p>

                <form class="form-inline justify-content-center">
                    <input class="form-control mr-sm-2" type="text">
                    <button class="btn btn-primary my-2 my-sm-0" type="submit">
                        Szukaj
                    </button>
                </form>

                Na przykład: naprawa dźwigu
            </div>


        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3>
                Kategoria 1
            </h3>
            <ul>
                <li class="list-item">
                    Lorem ipsum dolor sit amet
                </li>
                <li class="list-item">
                    Consectetur adipiscing elit
                </li>
                <li class="list-item">
                    Integer molestie lorem at massa
                </li>
                <li class="list-item">
                    Facilisis in pretium nisl aliquet
                </li>
                <li class="list-item">
                    Nulla volutpat aliquam velit
                </li>
                <li class="list-item">
                    Faucibus porta lacus fringilla vel
                </li>
                <li class="list-item">
                    Aenean sit amet erat nunc
                </li>
                <li class="list-item">
                    Eget porttitor lorem
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>
                Kategoria 2
            </h3>
            <ul>
                <li class="list-item">
                    Lorem ipsum dolor sit amet
                </li>
                <li class="list-item">
                    Consectetur adipiscing elit
                </li>
                <li class="list-item">
                    Integer molestie lorem at massa
                </li>
                <li class="list-item">
                    Facilisis in pretium nisl aliquet
                </li>
                <li class="list-item">
                    Nulla volutpat aliquam velit
                </li>
                <li class="list-item">
                    Faucibus porta lacus fringilla vel
                </li>
                <li class="list-item">
                    Aenean sit amet erat nunc
                </li>
                <li class="list-item">
                    Eget porttitor lorem
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>
                Kategoria 3
            </h3>
            <ul>
                <li class="list-item">
                    Lorem ipsum dolor sit amet
                </li>
                <li class="list-item">
                    Consectetur adipiscing elit
                </li>
                <li class="list-item">
                    Integer molestie lorem at massa
                </li>
                <li class="list-item">
                    Facilisis in pretium nisl aliquet
                </li>
                <li class="list-item">
                    Nulla volutpat aliquam velit
                </li>
                <li class="list-item">
                    Faucibus porta lacus fringilla vel
                </li>
                <li class="list-item">
                    Aenean sit amet erat nunc
                </li>
                <li class="list-item">
                    Eget porttitor lorem
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>
                Ogłoszenie 1
            </h2>
            <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            </p>
            <p>
                <a class="btn" href="#">View details »</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>
                Ogłoszenie 2
            </h2>
            <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            </p>
            <p>
                <a class="btn" href="#">View details »</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>
                Ogłoszenie 3
            </h2>
            <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            </p>
            <p>
                <a class="btn" href="#">View details »</a>
            </p>
        </div>
    </div>



    <div class="row">
        <div class="col-md-4">
            <h3>
                h3. Lorem ipsum dolor sit amet.
            </h3>
            <ul>
                <li class="list-item">
                    Lorem ipsum dolor sit amet
                </li>
                <li class="list-item">
                    Consectetur adipiscing elit
                </li>
                <li class="list-item">
                    Integer molestie lorem at massa
                </li>
                <li class="list-item">
                    Facilisis in pretium nisl aliquet
                </li>
                <li class="list-item">
                    Nulla volutpat aliquam velit
                </li>
                <li class="list-item">
                    Faucibus porta lacus fringilla vel
                </li>
                <li class="list-item">
                    Aenean sit amet erat nunc
                </li>
                <li class="list-item">
                    Eget porttitor lorem
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>
                h3. Lorem ipsum dolor sit amet.
            </h3>
            <ul>
                <li class="list-item">
                    Lorem ipsum dolor sit amet
                </li>
                <li class="list-item">
                    Consectetur adipiscing elit
                </li>
                <li class="list-item">
                    Integer molestie lorem at massa
                </li>
                <li class="list-item">
                    Facilisis in pretium nisl aliquet
                </li>
                <li class="list-item">
                    Nulla volutpat aliquam velit
                </li>
                <li class="list-item">
                    Faucibus porta lacus fringilla vel
                </li>
                <li class="list-item">
                    Aenean sit amet erat nunc
                </li>
                <li class="list-item">
                    Eget porttitor lorem
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>
                h3. Lorem ipsum dolor sit amet.
            </h3>
            <ul>
                <li class="list-item">
                    Lorem ipsum dolor sit amet
                </li>
                <li class="list-item">
                    Consectetur adipiscing elit
                </li>
                <li class="list-item">
                    Integer molestie lorem at massa
                </li>
                <li class="list-item">
                    Facilisis in pretium nisl aliquet
                </li>
                <li class="list-item">
                    Nulla volutpat aliquam velit
                </li>
                <li class="list-item">
                    Faucibus porta lacus fringilla vel
                </li>
                <li class="list-item">
                    Aenean sit amet erat nunc
                </li>
                <li class="list-item">
                    Eget porttitor lorem
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>
                Heading
            </h2>
            <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            </p>
            <p>
                <a class="btn" href="#">View details »</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>
                Heading
            </h2>
            <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            </p>
            <p>
                <a class="btn" href="#">View details »</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>
                Heading
            </h2>
            <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            </p>
            <p>
                <a class="btn" href="#">View details »</a>
            </p>
        </div>
    </div>
</div>
</div>




<script th:src="@{/js/jquery-3.3.1.slim.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>

</html>